{
    "presets": [
        [
            "env",
            {
                "target": {
                    "browsers": "> 5%"
                },
                "modules": false
            }
        ],
        "stage-2"
    ]
}